// CORES

$laranja: #F69337;
$verde: #279F84;
$cinza-claro: #F7F7F7;
$azul: #317FC1;
$preto: #000000;
$cinza: #333333;
$branco: #ffffff;
$cinza-claro-medio: #eee;
$cinza-medio: #aaa;
$transparente: rgba(0,0,0,0);



// VARIAVEIS TIPOGRÁFICAS

$font-style-titulo: 'Raleway', sans-serif;
$font-size-titulo: 4.5em;

$font-style-corpo: 'Quicksand', sans-serif;
$font-size-corpo: 1em;
$font-size-card-title: 1.2em;
$font-size-card-corpo: 0.9em;

// ESTILOS PRONTOS DE TEXTO

@mixin font-title {
    font-size: $font-size-titulo;
    font-family: $font-style-titulo;
    text-transform: uppercase;    
    color: $preto;
    position: relative;
}

@mixin font-corpo ($cor) {
    font-size: $font-size-corpo;
    font-family: $font-style-corpo;
    line-height: 180%;
    text-decoration: none;
    color: $cor;
}

@mixin font-corpo-highlight ($cor) {
    font-size: $font-size-corpo;
    font-family: $font-style-corpo;
    line-height: 180%;
    text-transform: uppercase;
    color: $cor;
}

@mixin font-botao ($cor) {
    font-size: $font-size-corpo;
    font-family: $font-style-corpo;
    line-height: 180%;
    text-decoration: none;
    color: $cor;
    font-size: 1.2em;
}

@mixin font-card-title ($cor) {
    font-size: $font-size-card-title;
    font-family: $font-style-corpo;
    line-height: 180%;
    text-decoration: none;
    color: $cor;
    text-transform: uppercase;
    font-weight: 700;
}

@mixin font-card-corpo ($cor) {
    font-size: $font-size-card-corpo; 
    font-family: $font-style-corpo;
    line-height: 130%;
    text-decoration: none;
    color: $cor;
}

// TRAÇO DECORATIVO

@mixin separador-titulo-left {
    content: "";
    background-color: $laranja;
    width: 1em;
    height: 0.08em;
    align-self: right;
    position: absolute;
    bottom: -15px;
    left: 0px
}

@mixin separador-titulo-right {
    content: "";
    background-color: $laranja;
    width: 1em;
    height: 0.08em;
    align-self: center;
    position: absolute;
    bottom: -15px;
    right: 0px
}

// SOMBRA

@mixin sombra {
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;    
}

// CARD

@mixin card ($cor) {
    
    background-image: linear-gradient(to right bottom,$cor 10%, $branco 10%);

    background-size: 100% 100%;
    transition: background-size 0.5s ease-in-out;
    -webkit-transition: background 0.5s ease-in-out;
    -moz-transition: background 0.5s ease-in-out;
    -o-transition: background 0.5s ease-in-out;
    
    @include sombra;
    
    display: grid;
    align-items: center;
    justify-items: center;
    text-align: center;

    height: 210px;
    width: 220px;
    padding: 25px 20px;
    border-radius: 5px;

    svg {
        height: 2em;
        fill: $cinza;
        transition: fill 0.5s ease-in-out;
    }

    h2{
        @include font-card-title($cinza)
        transition: color 0.5s ease-in-out;
    }
    
    p {
        @include font-card-corpo($cinza)
        transition: color 0.5s ease-in-out;
    }
    

    &:hover{
        background-size: 1000% 1000%;

        svg {
            height: 2em;
            fill: $branco;
        }
        h2{
            @include font-card-title($branco)
        }

        p {
            @include font-card-corpo($branco)
        }
    }
    
}

// CLIENTES

@mixin card-clientes {
    display: grid;
    align-content: center;
    height: 120px;
    padding: 20px;
    border-radius: 5px;
    border: 1px solid $cinza-claro-medio;
    transition: border-color 0.3s;
    background-color: $branco;
    // @include sombra

    img{
        max-width: 200px;
        max-height: 120px;
        transition: 0.3s;
    }

    &:hover{
        img{ transform: scale(1.1) }
        border-color: $laranja;
    }
}

// BOTÃO

@mixin botao ($cor) {
    background-color: $cor;
    padding: 0.6em 2em;
    border-radius: 5px;
    @include font-botao($branco);
}



// GELECA

@keyframes geleca {
    0%, 100% {
      border-radius: 40% 21% 71% 39% / 0% 0% 100% 81%;
    }
    25% {
      border-radius: 96% 17% 37% 64% / 91% 14% 21% 27% ; 
    }
    50% {
      border-radius: 15% 89% 14% 17% / 56% 93% 4% 10% ; 
    }
    75% {
      border-radius: 6% 86% 75% 8% / 4% 24% 74% 3%;
    }
  }