$laranja: #F69337;
$verde: #279F84;
$cinza-claro: #F7F7F7;
$azul: #317FC1;
$preto: #000000;

$font-style-corpo: 'Quicksand', Open Sans, Arial, Helvetica, sans-serif;
$font-size-corpo: 1em;

$font-style-titulo: 'Raleway', sans-serif;
$font-size-titulo: 4.5em;