@import '_base';

* {
    border: 0px;
    padding: 0px;
    margin: 0px;
}

.container{
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
}

#header{
    background-color: $cinza-claro;

    .container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 20px;
    
        img {
            width: 180px;
        }
    
        .header-list {
            list-style: none;
            display: flex;
            gap: 1.5em;
    
            .header-links {
                text-decoration: none;
                padding: 0.5em;
                font-family: $font-style-corpo;
                color: $preto;
                font-size: $font-size-corpo;
            }
        }
    }
}

#introducao{

    background-image: url(/img/code.jpg);

    .container{
        display: flex;
        align-items: center;
        justify-content: space-between;
        
        .texto_introducao{
            max-width: 700px;
            gap: 100px;

            h1{
                font-size: $font-size-titulo;
                font-family: $font-style-titulo;
                font-weight: 900;
            }

            p{
                font-size: $font-size-corpo;
                font-family: $font-style-corpo;
            }
        }
        

    }

    img {
        width: 400px;
    }
}
