@import '_base';

* {
    border: 0px;
    padding: 0px;
    margin: 0px;
}

.container{
    max-width: 1400px;
    margin-left: auto;
    margin-right: auto;
}

html{
    scroll-behavior: smooth;
}

#header{
    background-color: $cinza-claro;

    .container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 20px;
    
        img {
            width: 180px;
        }
    
        .header-list {
            list-style: none;
            display: flex;
            gap: 2em;
    
            .header-links {
                @include font-botao($preto)
            }
        }
    }
}

#introducao{
    background-image: url(/img/code.jpg);
    background-position: center top;
    background-size: 100%;
    
    .mascara{
        background: linear-gradient(to bottom right, $transparente 50%, $verde 50%);
    }

    img {
        width: 400px;
        // filter: opacity(0.5);
    }

    img::after {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0px;
        left: 0px;
        background-color: red;
    }
    
    .container{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 80px 0px;
        
        .texto_introducao{
            display: grid;
            max-width: 600px;
            gap: 40px;

            h1{
                @include font-title
            }

            h1::after{
                @include separador-titulo-left
            }

            p{
                @include font-corpo($cinza)
            }

            .highlight-text{
                @include font-corpo-highlight($laranja)
            }

            .container_botoes {
                display: flex;
                gap: 3em;
                .botao-contato {
                    @include botao($verde);
                }
                .botao-clientes {
                    @include botao($azul);
                }
            }
        }
    }
}

#servicos{
    background: linear-gradient(30deg, $branco 35%, $azul 35%, $azul 70%, $branco 70%);

    .container{
        padding: 80px 0px;
        display: grid;
        gap: 80px;
    }

    h1 {
        @include font-title
        text-align: right;
    }

    h1::after{
        @include separador-titulo-right
    }

    .servicos-grid{
        display: flex;
        flex-wrap: wrap;
        gap: 60px;
        justify-content: center;
    }

    .card-azul{
        @include card($azul)
    }
    .card-laranja{
        @include card($laranja)
    }
    .card-verde{
        @include card($verde)
    }
    
}

#sobre{
    .container{
        display: grid;
        gap: 80px;
        padding: 80px 0px;

        h1{
            @include font-title
        }

        h1::after{
            @include separador-titulo-left
        }

        .sobre-conteudo{
            display: flex;
            justify-content: space-between;
            gap: 100px;

            img{
                width: 500px;
            }

            .texto{
                display: grid;
                grid-template-columns: 1fr 2fr;
                justify-items: center;
                align-items: center;

                .texto-vertical{
                    transform: rotate(180deg);
                    writing-mode:vertical-rl;

                    font-family: $font-style-corpo;
                    font-size: 4em;
                    color: $cinza-medio;
                }

                .texto-conteudo{
                    @include font-corpo($cinza)
                    display: grid;
                    gap: 1em;

                    .highlight-text-azul{
                        @include font-corpo-highlight($azul)
                    }
                    
                    .highlight-text-verde{
                        @include font-corpo-highlight($verde)
                    }

                    .highlight-text-laranja{
                        @include font-corpo-highlight($laranja)
                    }
                }
            }

        }
    }
}

#clientes{
    background: linear-gradient(150deg, $branco 35%, $cinza-claro-medio 35%, $cinza-claro-medio 70%, $branco 70%);

    .container{
        display: grid;
        gap: 80px;
        padding: 80px 0px;

        h1 {
            @include font-title
            text-align: right;
        }

        h1::after{
            @include separador-titulo-right
        }

        .container-clientes{
            display: flex;
            flex-wrap: wrap;
            gap: 20px;
            justify-content: center;

            .card-cliente{
                @include card-clientes
            }
        }
    }
}
