@import '_base';

* {
    border: 0px;
    padding: 0px;
    margin: 0px;
}

.container{
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
}

#header{
    background-color: $cinza-claro;

    .container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 20px;
    
        img {
            width: 180px;
        }
    
        .header-list {
            list-style: none;
            display: flex;
            gap: 1.5em;
    
            .header-links {
                @include font-corpo
                font-size: 1.2em;
                padding: 0.5em;
            }
        }
    }
}

#introducao{
    background-image: url(/img/code.jpg);

    .container{
        display: flex;
        align-items: center;
        justify-content: space-between;
        
        .texto_introducao{
            max-width: 600px;
            display: grid;
            gap: 40px;

            h1{
                @include font-title
            }

            p{
                @include font-corpo
            }

            .highlight-text{
                @include font-corpo-highlight($laranja)
            }

        }
        

    }

    img {
        width: 400px;
    }
}
