* {
  border: 0px;
  padding: 0px;
  margin: 0px;
}

.container {
  max-width: 1300px;
  margin-left: auto;
  margin-right: auto;
}

#header {
  background-color: #F7F7F7;
}

#header .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 20px;
}

#header .container img {
  width: 180px;
}

#header .container .header-list {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 2em;
}

#header .container .header-list .header-links {
  font-size: 1em;
  font-family: "Quicksand", sans-serif;
  line-height: 180%;
  text-decoration: none;
  color: #000000;
  font-size: 1.2em;
}

#introducao {
  background-image: url(/img/code.jpg);
  background-position: center top;
  background-size: 100%;
}

#introducao .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 80px 0px;
}

#introducao .container .texto_introducao {
  display: -ms-grid;
  display: grid;
  max-width: 600px;
  gap: 40px;
}

#introducao .container .texto_introducao h1 {
  font-size: 4.5em;
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  color: #000000;
  position: relative;
}

#introducao .container .texto_introducao h1::after {
  content: "";
  background-color: #F69337;
  width: 1em;
  height: 0.08em;
  -ms-flex-item-align: right;
      -ms-grid-row-align: right;
      align-self: right;
  position: absolute;
  bottom: -15px;
  left: 0px;
}

#introducao .container .texto_introducao p {
  font-size: 1em;
  font-family: "Quicksand", sans-serif;
  line-height: 180%;
  text-decoration: none;
  color: #333333;
}

#introducao .container .texto_introducao .highlight-text {
  font-size: 1em;
  font-family: "Quicksand", sans-serif;
  line-height: 180%;
  text-transform: uppercase;
  color: #F69337;
}

#introducao .container .texto_introducao .container_botoes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 3em;
}

#introducao .container .texto_introducao .container_botoes a {
  background-color: #279F84;
  padding: 0.6em 2em;
  border-radius: 5px;
  font-size: 1em;
  font-family: "Quicksand", sans-serif;
  line-height: 180%;
  text-decoration: none;
  color: #ffffff;
  font-size: 1.2em;
}

#introducao img {
  width: 400px;
}

#servicos {
  background: linear-gradient(30deg, #ffffff 35%, #317FC1 35%, #317FC1 70%, #ffffff 70%);
}

#servicos .container {
  padding: 80px 0px;
  display: -ms-grid;
  display: grid;
  gap: 80px;
}

#servicos h1 {
  font-size: 4.5em;
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  color: #000000;
  position: relative;
  text-align: right;
}

#servicos h1::after {
  content: "";
  background-color: #F69337;
  width: 1em;
  height: 0.08em;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  position: absolute;
  bottom: -15px;
  right: 0px;
}

#servicos .servicos-grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 60px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#servicos .card-azul {
  background-image: -webkit-gradient(linear, left top, right bottom, color-stop(10%, #317FC1), color-stop(10%, #ffffff));
  background-image: linear-gradient(to right bottom, #317FC1 10%, #ffffff 10%);
  background-size: 100% 100%;
  -webkit-transition: background-size 0.5s ease-in-out;
  transition: background-size 0.5s ease-in-out;
  -webkit-transition: background 0.5s ease-in-out;
  -moz-transition: background 0.5s ease-in-out;
  -o-transition: background 0.5s ease-in-out;
  -webkit-box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
          box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
  text-align: center;
  height: 210px;
  width: 220px;
  padding: 25px 20px;
  border-radius: 5px;
}

#servicos .card-azul svg {
  height: 2em;
  fill: #333333;
  -webkit-transition: fill 0.5s ease-in-out;
  transition: fill 0.5s ease-in-out;
}

#servicos .card-azul h2 {
  font-size: 1.2em;
  font-family: "Quicksand", sans-serif;
  line-height: 180%;
  text-decoration: none;
  color: #333333;
  text-transform: uppercase;
  font-weight: 700;
  -webkit-transition: color 0.5s ease-in-out;
  transition: color 0.5s ease-in-out;
}

#servicos .card-azul p {
  font-size: 0.9em;
  font-family: "Quicksand", sans-serif;
  line-height: 130%;
  text-decoration: none;
  color: #333333;
  -webkit-transition: color 0.5s ease-in-out;
  transition: color 0.5s ease-in-out;
}

#servicos .card-azul:hover {
  background-size: 1000% 1000%;
}

#servicos .card-azul:hover svg {
  height: 2em;
  fill: #ffffff;
}

#servicos .card-azul:hover h2 {
  font-size: 1.2em;
  font-family: "Quicksand", sans-serif;
  line-height: 180%;
  text-decoration: none;
  color: #ffffff;
  text-transform: uppercase;
  font-weight: 700;
}

#servicos .card-azul:hover p {
  font-size: 0.9em;
  font-family: "Quicksand", sans-serif;
  line-height: 130%;
  text-decoration: none;
  color: #ffffff;
}

#servicos .card-laranja {
  background-image: -webkit-gradient(linear, left top, right bottom, color-stop(10%, #F69337), color-stop(10%, #ffffff));
  background-image: linear-gradient(to right bottom, #F69337 10%, #ffffff 10%);
  background-size: 100% 100%;
  -webkit-transition: background-size 0.5s ease-in-out;
  transition: background-size 0.5s ease-in-out;
  -webkit-transition: background 0.5s ease-in-out;
  -moz-transition: background 0.5s ease-in-out;
  -o-transition: background 0.5s ease-in-out;
  -webkit-box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
          box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
  text-align: center;
  height: 210px;
  width: 220px;
  padding: 25px 20px;
  border-radius: 5px;
}

#servicos .card-laranja svg {
  height: 2em;
  fill: #333333;
  -webkit-transition: fill 0.5s ease-in-out;
  transition: fill 0.5s ease-in-out;
}

#servicos .card-laranja h2 {
  font-size: 1.2em;
  font-family: "Quicksand", sans-serif;
  line-height: 180%;
  text-decoration: none;
  color: #333333;
  text-transform: uppercase;
  font-weight: 700;
  -webkit-transition: color 0.5s ease-in-out;
  transition: color 0.5s ease-in-out;
}

#servicos .card-laranja p {
  font-size: 0.9em;
  font-family: "Quicksand", sans-serif;
  line-height: 130%;
  text-decoration: none;
  color: #333333;
  -webkit-transition: color 0.5s ease-in-out;
  transition: color 0.5s ease-in-out;
}

#servicos .card-laranja:hover {
  background-size: 1000% 1000%;
}

#servicos .card-laranja:hover svg {
  height: 2em;
  fill: #ffffff;
}

#servicos .card-laranja:hover h2 {
  font-size: 1.2em;
  font-family: "Quicksand", sans-serif;
  line-height: 180%;
  text-decoration: none;
  color: #ffffff;
  text-transform: uppercase;
  font-weight: 700;
}

#servicos .card-laranja:hover p {
  font-size: 0.9em;
  font-family: "Quicksand", sans-serif;
  line-height: 130%;
  text-decoration: none;
  color: #ffffff;
}

#servicos .card-verde {
  background-image: -webkit-gradient(linear, left top, right bottom, color-stop(10%, #279F84), color-stop(10%, #ffffff));
  background-image: linear-gradient(to right bottom, #279F84 10%, #ffffff 10%);
  background-size: 100% 100%;
  -webkit-transition: background-size 0.5s ease-in-out;
  transition: background-size 0.5s ease-in-out;
  -webkit-transition: background 0.5s ease-in-out;
  -moz-transition: background 0.5s ease-in-out;
  -o-transition: background 0.5s ease-in-out;
  -webkit-box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
          box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
  text-align: center;
  height: 210px;
  width: 220px;
  padding: 25px 20px;
  border-radius: 5px;
}

#servicos .card-verde svg {
  height: 2em;
  fill: #333333;
  -webkit-transition: fill 0.5s ease-in-out;
  transition: fill 0.5s ease-in-out;
}

#servicos .card-verde h2 {
  font-size: 1.2em;
  font-family: "Quicksand", sans-serif;
  line-height: 180%;
  text-decoration: none;
  color: #333333;
  text-transform: uppercase;
  font-weight: 700;
  -webkit-transition: color 0.5s ease-in-out;
  transition: color 0.5s ease-in-out;
}

#servicos .card-verde p {
  font-size: 0.9em;
  font-family: "Quicksand", sans-serif;
  line-height: 130%;
  text-decoration: none;
  color: #333333;
  -webkit-transition: color 0.5s ease-in-out;
  transition: color 0.5s ease-in-out;
}

#servicos .card-verde:hover {
  background-size: 1000% 1000%;
}

#servicos .card-verde:hover svg {
  height: 2em;
  fill: #ffffff;
}

#servicos .card-verde:hover h2 {
  font-size: 1.2em;
  font-family: "Quicksand", sans-serif;
  line-height: 180%;
  text-decoration: none;
  color: #ffffff;
  text-transform: uppercase;
  font-weight: 700;
}

#servicos .card-verde:hover p {
  font-size: 0.9em;
  font-family: "Quicksand", sans-serif;
  line-height: 130%;
  text-decoration: none;
  color: #ffffff;
}

#sobre .container {
  display: -ms-grid;
  display: grid;
  gap: 80px;
  padding: 80px 0px;
}

#sobre .container h1 {
  font-size: 4.5em;
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  color: #000000;
  position: relative;
}

#sobre .container h1::after {
  content: "";
  background-color: #F69337;
  width: 1em;
  height: 0.08em;
  -ms-flex-item-align: right;
      -ms-grid-row-align: right;
      align-self: right;
  position: absolute;
  bottom: -15px;
  left: 0px;
}

#sobre .container .sobre-conteudo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 100px;
}

#sobre .container .sobre-conteudo img {
  width: 500px;
}

#sobre .container .sobre-conteudo .texto {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 2fr;
      grid-template-columns: 1fr 2fr;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#sobre .container .sobre-conteudo .texto .texto-vertical {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
  font-family: "Quicksand", sans-serif;
  font-size: 4em;
  color: #aaa;
}

#sobre .container .sobre-conteudo .texto .texto-conteudo {
  font-size: 1em;
  font-family: "Quicksand", sans-serif;
  line-height: 180%;
  text-decoration: none;
  color: #333333;
  display: -ms-grid;
  display: grid;
  gap: 1em;
}

#sobre .container .sobre-conteudo .texto .texto-conteudo .highlight-text-azul {
  font-size: 1em;
  font-family: "Quicksand", sans-serif;
  line-height: 180%;
  text-transform: uppercase;
  color: #317FC1;
}

#sobre .container .sobre-conteudo .texto .texto-conteudo .highlight-text-verde {
  font-size: 1em;
  font-family: "Quicksand", sans-serif;
  line-height: 180%;
  text-transform: uppercase;
  color: #279F84;
}

#sobre .container .sobre-conteudo .texto .texto-conteudo .highlight-text-laranja {
  font-size: 1em;
  font-family: "Quicksand", sans-serif;
  line-height: 180%;
  text-transform: uppercase;
  color: #F69337;
}

#clientes {
  background: linear-gradient(150deg, #ffffff 35%, #eee 35%, #eee 70%, #ffffff 70%);
}

#clientes .container {
  display: -ms-grid;
  display: grid;
  gap: 80px;
  padding: 80px 0px;
}

#clientes .container h1 {
  font-size: 4.5em;
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  color: #000000;
  position: relative;
  text-align: right;
}

#clientes .container h1::after {
  content: "";
  background-color: #F69337;
  width: 1em;
  height: 0.08em;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  position: absolute;
  bottom: -15px;
  right: 0px;
}

#clientes .container .container-clientes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 20px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#clientes .container .container-clientes .card-cliente {
  display: -ms-grid;
  display: grid;
  -ms-flex-line-pack: center;
      align-content: center;
  background-color: #ffffff;
  border-radius: 5px;
  padding: 40px;
  border: 1px solid #eee;
  -webkit-transition: border-color 0.3s;
  transition: border-color 0.3s;
  height: 120px;
}

#clientes .container .container-clientes .card-cliente img {
  max-width: 230px;
  max-height: 120px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

#clientes .container .container-clientes .card-cliente:hover {
  border-color: #F69337;
}

#clientes .container .container-clientes .card-cliente:hover img {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}
/*# sourceMappingURL=style.css.map */